# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
tags*

.HA_VERSION
.ha_run.lock
.shopping_list.json
*.log
*.log.1
*.log.fault
*.db
*.db-shm
*.db-wal
www/
tts/

__pycache__
*.log.old
