*.db
*.db-shm
*.db-wal
*.log
*.log*
.
.HA_VERSION
.cloud
.google.token
.ha_run.lock
.pytest_cache/
.shopping_list.json
.storage
__pycache__/
devtools_json_cache.json
home-assistant.log
*.log
ip_bans.yaml
known_devices.yaml
secrets.yaml
secrets.yaml
tags*
tts/
www/
zigbee.db # If using ZHA
zwcfg_*.xml # If using Z-Wave (old style)
