# Loads default set of integrations. Do not remove.
default_config:
# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
switch: !include switch.yaml
shell_command: !include shell_command.yaml
device_tracker: !include device_tracker.yaml
climate: !include climate.yaml
http:
  use_x_forwarded_for: true
  trusted_proxies:
  - 10.49.48.0/23
route53:
  aws_access_key_id: AKIAUKXMBXZJG7ZF6YDV
  aws_secret_access_key: !secret route53_secret_access_key
  zone: Z07993151Z48PIABM0XKH
  domain: stoneydavis.com
  records:
  - puma
